.env
.env.*
!.env.example

bin/
dist/
*.exe
*.out
*.test
*.prof

**/go.work
**/go.work.sum

.idea/
.vscode/

.DS_Store
Thumbs.db
desktop.ini

*.log

frontend/node_modules/
frontend/.svelte-kit/
frontend/build/
frontend/dist/